/* 
.Footer_outer_container{
    background-color: red;
    color: rgb(241, 29, 29);
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;

}  */
.Footer_inner_container{
width: 60%;
/* background-color: #2b0666;   */
 margin-left: 20%; 
color: gray;
margin-top: 50px;

}
.footer_icons{
    width: 15%;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    color: #fff;

    }
    .Footer_data{
        display: flex;
        justify-content: space-between;
    }
    .Footer_data ul{
        list-style-type: none;
        flex-direction: column;
        display: flex;
        justify-content: space-around;
        height: 12vh;
    }
    .Footer_data ul li{
      cursor: pointer;
    }
   .service_code{
        display: flex;
        align-items: center;
        justify-content: space-around;
        border: #fff 1px solid;
         width: 13%;
         margin: 10px 0;
        cursor: pointer;

    }
    .copy_write{
        font-size: 12px;
        margin-bottom: 10px;
    }